[Unit]
Description=PostgREST HAfAH server
After=network.target
Wants=postgresql.service
StartLimitBurst=3
StartLimitIntervalSec=900

[Service]
Type=simple
Restart=always
RestartSec=3
User=techcoderx
Environment="PGRST_SERVER_PORT=8093"
Environment="PGRST_DB_URI=postgresql://haf_app_admin:hafapppass@127.0.0.1:5432/block_log"
Environment="PGRST_DB_SCHEMA=hafah_endpoints"
Environment="PGRST_DB_ANON_ROLE=hafah_user"
Environment="PGRST_DB_ROOT_SPEC=home"
ExecStart=/usr/local/bin/postgrest

[Install]
WantedBy=multi-user.target
