[Unit]
Description=Hivemind server
After=network.target
Wants=postgresql.service
StartLimitBurst=3
StartLimitIntervalSec=900

[Service]
Type=simple
Restart=always
RestartSec=3
User=techcoderx
ExecStart=/home/techcoderx/.local/bin/hive server --http-server-port 8092 --database-url 'postgresql://hivemind_app:hivemindpass@localhost:5432/block_log'

[Install]
WantedBy=multi-user.target
